---
layout: page
---
<h1 class="post-title">{{ page.title }}</h1>

<p class="post-metadata text-muted">
  {{ page.date | date_to_long_string }}  

  <br>
  <br>

  {%- if page.tags != empty -%}
    Tags: 
    {% for tag in page.tags %}
    <a class="text-decoration-none no-underline" href="{{ tag | slugify | prepend:'/news/tags#' | relative_url }}">
      <span class="tag badge badge-pill text-dark border border-dark">{{ tag }}</span>
    </a>
    {% endfor %}
  {%- endif -%}
  <br>
  <br>
</p>
<div class ="post-content">
{{ content }}
</div>
{% if page.comments %}
<div class="pt-5">
  {% include blog/disqus.html %}
</div>
{% endif %}



